/* ==UserStyle==
@name           Australine
@namespace      github.com/openstyles/stylus
@version        1.2.23
@description    A compact style for kraland.org
@author         clarasylke on discord
@homepageURL    https://github.com/ClaraLeh/css_kraland
@updateURL      https://claraleh.github.io/css_kraland/australine_kraland.user.css
==/UserStyle== */
@-moz-document domain("www.kraland.org"),
domain("test.kraland.org") {

    @media (prefers-color-scheme: dark) {
        :root {
            --bg-color-1: #363636;
            --bg-color-2: #424242;
            --bg-color-3: #717171;
            --lk-color-1: #fde263;
            --lk-color-2: #fff3c4;
            --tx-color-1: #e4e4e4;
            --tx-color-2: #c4c4c4;
            --tx-color-3: #a4a4a4;
            --bd-color-1: #616161;
        }

        body > div:nth-child(1) > div:nth-child(1) {
            content: url("http://img7.kraland.org/logo_dark.png");
        }

        .text-warning {
            color: #e8d1ae;
        }

        .alert-warning {
            color: #e8d1ae;
            background-color: #8a6d3b;
            border-color: #8b744c;
        }

        .text-danger {
            color: #ea7d7a;
        }

        .text-primary {
            color: #7ab6ea;
        }

        .alert-info {
            color: #d9edf7;
            background-color: #31708f;
            border-color: #4b7b93;
        }

        .label-info {
            background-color: #31708f;
        }

        .alert-success {
            color: #dff0d8;
            background-color: #49754a;
            border-color: #597359;
        }

        .alert-danger {
            color: #f2dede;
            background-color: #a94442;
            border-color: #aa5b59;
        }

        .f5 {
            color: #4dc24d;
            font-weight: bold;
        }


        /* changement des couleurs preset */
        font[color="5a5a5a"] {
            color: #9c9a9a;
        }
        font[color="gray"] {
            color: #7a7979;
        }
        font[color="d50000"] {
            color: #ff4c4c;
        }
        font[color="olive"] {
            color: #a4a427;
        }
        font[color="006f00"] {
            color: #4dc24d;
        }
        font[color="teal"] {
            color: #28adad;
        }
        font[color="5577bc"] {
            color: #86a7ea;
        }
        font[color="2b2be4"] {
            color: #6363ff;
        }
        font[color="navy"] {
            color: #6b6bcc;
        }
        font[color="purple"] {
            color: #ca2cca;
        }
        font[color="4B0082"] {
            color: #862ec6;
        }
        font[color="maroon"] {
            color: #be6c6c;
        }
        font[color="5e432d"] {
            color: #a04e4e;
        }
    }

    @media (prefers-color-scheme: light) {
        :root {
            --bg-color-1: #ffffff;
            --bg-color-2: #f4f4ea;
            --bg-color-3: #e8e0c0;
            --lk-color-1: #b9282d;
            --lk-color-2: #ff656a;
            --tx-color-1: #555;
            --tx-color-2: #666;
            --tx-color-3: #999;
            --bd-color-1: #ddd;
        }

        body > div:nth-child(1) > div:nth-child(1) {
            content: url("https://i.imgur.com/K2CDrAv.png");
        }
    }

    @media (max-width: 767px) {
        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: var(--bg-color-3);
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .navbar-collapse1 {
            background-color: var(--bg-color-3);
            border: 1px solid var(--tx-color-1);
        }
        
        body {
            overflow-x: hidden !important;
        }
    }

    html {
        background-color: var(--bg-color-1);
    }

    body {
        background-color: var(--bg-color-1);
        color: var(--tx-color-1);
    }

    select {
        background-color: var(--bg-color-2) !important;
    }

    a {
        color: var(--lk-color-1);
        background-color: unset;
    }

    img {
        object-fit: cover;
        object-position: 0 0;
    }

    img[src^="http://img7.kraland.org/2/pdv"] {
        width: 20px !important;
        height: 5px !important;
        aspect-ratio: auto 20 / 5 !important;
        object-fit: cover !important;
        object-position: bottom !important;
    }


    .c100 {
        background-color: var(--bg-color-2);
    }

    .c100::after {
        background-color: var(--bg-color-2);
    }

    .c100 > span {
        color: var(--lk-color-1);
    }

    .c100:hover > span {
        color: var(--lk-color-1);
        width: 3.33em;
        line-height: 3.33em;
        font-size: 0.3em;
    }

    .pie,
    .c100 .bar,
    .c100.p51 .fill,
    .c100.p52 .fill,
    .c100.p53 .fill,
    .c100.p54 .fill,
    .c100.p55 .fill,
    .c100.p56 .fill,
    .c100.p57 .fill,
    .c100.p58 .fill,
    .c100.p59 .fill,
    .c100.p60 .fill,
    .c100.p61 .fill,
    .c100.p62 .fill,
    .c100.p63 .fill,
    .c100.p64 .fill,
    .c100.p65 .fill,
    .c100.p66 .fill,
    .c100.p67 .fill,
    .c100.p68 .fill,
    .c100.p69 .fill,
    .c100.p70 .fill,
    .c100.p71 .fill,
    .c100.p72 .fill,
    .c100.p73 .fill,
    .c100.p74 .fill,
    .c100.p75 .fill,
    .c100.p76 .fill,
    .c100.p77 .fill,
    .c100.p78 .fill,
    .c100.p79 .fill,
    .c100.p80 .fill,
    .c100.p81 .fill,
    .c100.p82 .fill,
    .c100.p83 .fill,
    .c100.p84 .fill,
    .c100.p85 .fill,
    .c100.p86 .fill,
    .c100.p87 .fill,
    .c100.p88 .fill,
    .c100.p89 .fill,
    .c100.p90 .fill,
    .c100.p91 .fill,
    .c100.p92 .fill,
    .c100.p93 .fill,
    .c100.p94 .fill,
    .c100.p95 .fill,
    .c100.p96 .fill,
    .c100.p97 .fill,
    .c100.p98 .fill,
    .c100.p99 .fill,
    .c100.p100 .fill {
        border: 0.08em solid var(--lk-color-1);
    }

    .panel-info > .panel-heading {
        color: var(--tx-color-1);
    }

    .panel-info {
        border-color: var(--bd-color-1);
    }

    .panel-info > .panel-heading {
        border-color: var(--bd-color-1);
    }

    .modal-footer {
        border-top: 1px solid var(--bd-color-1);
    }

    .close {
        color: var(--tx-color-3);
        text-shadow: 0 1px 0 var(--tx-color-3);
    }

    .close:focus,
    .close:hover {
        color: var(--tx-color-1);
        text-shadow: 0 1px 0 var(--tx-color-1);
    }

    .modal-content {
        background-color: var(--bg-color-2);
    }

    .input-group-addon {
        background-color: var(--bg-color-2);
        color: var(--tx-color-1);
    }

    .map-box {
        background-color: var(--bg-color-2);
    }

    .map-box-title {
        background-color: var(--bg-color-3);
    }

    .map-box-bottom {
        color: var(--tx-color-1);
        background-color: var(--bg-color-3);
        margin-top: 0px;
    }

    .map-box-content {
        padding: 4px;
    }

    a.list-group-item .list-group-item-heading,
    button.list-group-item .list-group-item-heading {
        color: var(--tx-color-1);
    }

    div .list-group-item:last-child {
        margin-bottom: -1px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    div:has(.tooltip) .list-group-item:nth-last-child(2) {
        margin-bottom: -1px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    hr[style="border-top: 1px solid #337ab7; background: transparent;"] {
        border-top: 1px solid var(--bd-color-1) !important;
    }

    .list-group-item span:has(div[style="font-size:4px;"]) {
        font-size: unset !important;
        display: flex;
    }

    .list-group-item div[style="font-size:4px;"] {
        font-size: unset !important;
        display: flex;
        flex-direction: column;
    }

    div.alert:has(.pull-right.tagforum) {
        padding-bottom: 25px;
    }

    a.ds_user i,
    .ds_user h4.list-group-item-heading {
        color: var(--lk-color-1);
    }

    a.list-group-item.ds_user {
        height: 50px;
        box-sizing: content-box;
    }

    a.list-group-item.alert {
        height: 50px;
        box-sizing: content-box;
    }

    a.list-group-item.alert i {
        top: 10px;
    }

    a.list-group-item.ds_forum .label {
        padding: .3em;
    }
    a.list-group-item.ds_forum .list-group-item-text {
        margin-top: 0.3em;
    }

    .img-thumbnail {
        background-color: var(--bg-color-1);
        border: 1px solid var(--bd-color-1);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .col-sm-4 img {
        aspect-ratio: 1 / 1;
        width: 100%;
        max-height: 100%;
    }

    .chat li .chat-body p {
        color: var(--tx-color-2);
    }

    .text-muted {
        color: var(--tx-color-3);
    }

    .panel {
        background-color: var(--bg-color-1);
    }

    .panel-primary {
        border-color: var(--bd-color-1);
    }

    .panel-default > .panel-heading {
        color: var(--tx-color-1);
    }

    .panel-footer {
        padding: 10px 15px;
        background-color: var(--bg-color-2);
        border-top: 1px solid var(--bd-color-1);
    }

    footer div div:nth-child(2) {
        color: var(--lk-color-1);
    }

    a:hover,
    a:active,
    a:focus {
        color: var(--lk-color-2);
        text-decoration: none;
    }

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:focus,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > .active > a:hover {
        color: var(--lk-color-2);
        background-color: unset;
    }

    .navbar-inverse .navbar-nav > li > a:focus,
    .navbar-inverse .navbar-nav > li > a:hover {
        color: var(--lk-color-2);
        background-color: unset;
    }

    .input-group-addon {
        border: 1px solid var(--bd-color-1);
    }

    a.list-group-item:focus,
    a.list-group-item:hover,
    button.list-group-item:focus,
    button.list-group-item:hover {
        background-color: var(--bg-color-1);
        color: var(--tx-color-2);
    }

    a.list-group-item,
    button.list-group-item {
        color: var(--tx-color-1);
    }

    .bg-primary {
        color: var(--lk-color-1);
        background-color: var(--bg-color-3);
    }

    .bg-info {
        color: var(--lk-color-1);
        background-color: var(--bg-color-2);
    }

    .center .pagination {
        margin: 10px 0;
    }

    li.media.well {
        margin-top: 0px;
    }

    .pagination > li > a,
    .pagination > li > a:active,
    .pagination > li > a:visited,
    .pagination > li > span,
    .pagination > li > span:active,
    .pagination > li > span:visited {
        color: var(--lk-color-1);
        background-color: inherit;
        border: 1px solid var(--bg-color-3) !important;
    }

    .pagination > li > a:hover,
    .pagination > li > span:hover {
        color: var(--lk-color-2);
        background-color: inherit;
        text-decoration: none;
    }

    .pagination > .active > a {
        color: var(--lk-color-1);
        background-color: inherit;
        border-color: inherit;
    }

    .pagination > .active > a:hover,
    .pagination > .active > a:focus {
        color: var(--lk-color-2);
        background-color: inherit;
        text-decoration: none;
        border-color: inherit;
    }

    .pagination > .disabled > a {
        background-color: inherit;
        color: var(--bd-color-1);
    }

    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        background-color: inherit;
        color: var(--bd-color-1);
    }

    .pagination > .disabled > a:visited {
        background-color: inherit;
        color: var(--bd-color-1);
    }

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate {
        color: var(--tx-color-1);
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 0.5em 1em;
        margin-left: 2px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        color: var(--lk-color-1) !important;
        background: inherit !important;
        border: 1px solid var(--bg-color-3) !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: var(--lk-color-2) !important;
        background: unset !important;
        text-decoration: none;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
        color: var(--tx-color-3) !important;
        background: unset !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current,
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:active {
        color: var(--bg-color-1) !important;
        background-color: var(--lk-color-1) !important;
    }

    div#col-right tbody tr:nth-child(odd) {
        background-color: var(--bg-color-2) !important;
    }

    div#col-right tbody tr:nth-child(odd) li:hover {
        background-color: var(--bg-color-1) !important;
    }

    div#col-right tbody tr:nth-child(even) li:hover {
        background-color: var(--bg-color-2) !important;
    }

    div#col-right tbody tr:has(.fa-folder,
    .active) td:nth-child(1) p {
        font-weight: 550;
    }

    div#col-right tbody tr td {
        border-top: none;
    }

    div#col-right tbody tr td:nth-child(1) p {
        display: flex;
        align-items: center;
    }

    body > div:nth-child(1) {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    div#col-right tbody tr td:nth-child(1) p :is(span,
    a,
    i) {
        display: flex;
        align-self: center;
        margin-right: 3px;
    }

    div.panel-body:has(.progress-label) {
        padding: 15px;
    }

    .progress .progress-bar {
        background-color: var(--lk-color-1);
        color: var(--bg-color-1);
    }

    .progress .progress-bar[style="width:0%"] {
        color: transparent;
    }

    .progress {
        max-width: 20em;
    }

    .panel-heading {
        background-color: var(--bg-color-3) !important;
    }

    .panel-default {
        border-color: var(--bd-color-1);
    }

    .panel-default > .panel-heading {
        border-color: var(--bd-color-1);
    }

    .label {
        padding: .2em .4em .3em;
    }

    .label-default {
        background-color: var(--bg-color-3) !important;
        color: var(--lk-color-1);
    }

    label {
        margin-bottom: 0px;
    }

    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th,
    table.dataTable tbody th,
    table.dataTable tbody td {
        padding: 5px 1px 5px 9px;
    }

    td p.nomargin.mini {
        color: var(--tx-color-3);
    }

    .panel-body.panel-news {
        padding: 8px;
    }

    .panel-body.panel-news td:nth-child(1) {
        padding-right: 5px;
    }

    .panel-news .label-warning::after {
        content: "\a";
        white-space: pre;
    }

    .invisible {
        display: none !important;
    }

    #topics_wrapper div {
        margin: 5px 8px 5px 8px;
    }

    #topics_paginate {
        padding-top: 0px;
    }

    #topics_info {
        padding-top: 0.5em;
    }

    .navbar-inverse {
        background-color: var(--bg-color-3);
        border-color: var(--bg-color-1);
    }

    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-header a.navbar-brand {
        color: var(--lk-color-1);
    }

    /*    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > .active > a:hover {
        color: var(--bg-color-1);
    } */
    .list-group-item.active,
    .list-group-item.active:focus,
    .list-group-item.active:hover {
        z-index: 2;
        color: var(--lk-color-1);
        background-color: var(--bg-color-3);
        border-color: var(--bd-color-1);
    }

    .dropdown-menu {
        background-color: var(--bg-color-3);
    }

    .dropdown-menu > li > a {
        color: var(--tx-color-1);
    }

    .dropdown-header {
        color: var(--lk-color-2);
    }

    .footer-quote {
        color: var(--lk-color-1);
        padding-top: 15px;
    }

    .well {
        border-color: var(--bd-color-1);
        background-color: var(--bg-color-3);
    }

    .form-control {
        background-color: var(--bg-color-2);
        color: var(--tx-color-1);
        border-color: var(--bd-color-1);
    }

    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
        background-color: var(--bg-color-2);
        color: var(--tx-color-1);
        border-color: var(--bd-color-1);
    }

    #slide-submenu {
        background: var(--bg-color-2);
    }

    .list-group-item {
        background-color: var(--bg-color-2);
        border-color: var(--bg-color-3);
    }

    a.list-group-item,
    button.list-group-item {
        background-color: var(--bg-color-2);
        border-color: var(--bg-color-3);
    }

    .nav-tabs > li > a:hover {
        border-color: var(--bd-color-1);
    }

    .nav > li > a:focus,
    .nav > li > a:hover {
        text-decoration: none;
        background-color: unset;
    }

    .navbar-nav li.active a.dropdown-toggle,
    .navbar-nav li.active a.dropdown-toggle:hover {
        color: var(--lk-color-2);
        text-decoration: none;
        font-weight: bold;
    }

    .dropdown-menu > li > a:focus,
    .dropdown-menu > li > a:hover {
        color: var(--bg-color-1);
        text-decoration: none;
        background-color: var(--tx-color-1);
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        color: var(--lk-color-2);
        background-color: var(--bg-color-3);
        border-color: var(--bd-color-1);
    }

    .nav-tabs {
        border-bottom: 1px solid var(--bd-color-1);
    }

    ul.media-list.forum li.media.well {
        background-color: var(--bg-color-2);
    }

    .btn-default,
    .btn-primary {
        color: var(--tx-color-1);
        background-color: var(--bg-color-1);
        border-color: var(--bd-color-1);
    }

    .btn-default:hover,
    .btn-primary:hover {
        color: var(--tx-color-1);
        background-color: var(--bg-color-2);
        border-color: var(--bd-color-1);
    }

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-radius: 3px;
    }

    div[role="tooltip"] {
        position: absolute;
    }

    .user-info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .user-info > img.img-thumbnail {
        display: flex;
        align-self: center;
        width: 120px;
        padding: 0px;
        border-radius: 8px;
        transition: all .2s ease-in-out;
        max-width: 100%;
        height: auto;
        background-color: var(--bg-color-1);
        border: 1px solid var(--bd-color-1);
        aspect-ratio: 1 / 1;
        max-height: 100%;
    }

    .user-info > strong {
        display: flex;
        align-self: center;
        margin-top: 5px;
    }

    .user-info > .cartouche > strong {
        display: flex;
        align-self: center;
        margin-top: 5px;
    }

    .user-info > .cartouche > span {
        align-self: center;
        width : fit-content;
        margin-top: 5px;
    }
    
    .user-info > .cartouche {
        display: flex;
        align-self: center;
        flex-direction: column;
        margin-top: 5px;
    }

    .user-info > .cartouche div {
        margin-top: 5px;
    }

    .user-info > .cartouche > div:nth-child(1) {
        width: 80px;
        max-width: 100%;
        height: auto;
        align-self: center;
        display: flex;
    }

    .user-info > .cartouche > div:nth-child(1) > img {
        display: flex;
        align-self: center;
        width: 80px;
        max-width: 100%;
        height: auto;
        margin-bottom: 2px;
    }

    .tracker > .tracker-step > .tracker-stepnum {
        color: var(--tx-color-2);
    }

    .tracker > .tracker-step > .tracker-info {
        color: var(--tx-color-3);
    }

    blockquote {
        padding: 10px 20px;
        margin: 0 0 20px;
        font-size: 17.5px;
        border-left: 5px solid var(--bg-color-3);
    }

    a.list-group-item.ds_game > img {
        margin-right: 5px;
    }

    a.list-group-item.ds_game {
        padding: 10px;
    }

    .cartouche {
        font-size: unset;
    }

    ul.media-list.forum div.pull-left {
        padding: 0px;
        margin-right: 20px;
    }

    span.tagforum {
        font-style: italic;
        color: var(--tx-color-3);
    }

    .btn.btn-secondary.btn-xs.xmini {
        color: #333;
    }

    .btn.btn-primary.btn-xs.xmini {
        background-color: #337ab7;
    }

    td[style="width:16px;vertical-align:top;padding: 0px 0px 0px 4px"] {
        background-color: var(--bg-color-1);
    }

    /* CUSTOM PI FLAG ON FORUM */
    .cartouche:has(a[href="communaute/membres/---"]) > div:nth-child(1) > img[src="http://img7.kraland.org/2/world/logo9.gif"] {
        content: url("---");
    }


    /* CUSTOM AVATAR FOR FAMILIARS */
    a[data-original-title^="Stagiaire 27 ["]:not(:has(i)) > img {
        display: none;
    }

    a[data-original-title^="Stagiaire 27 ["]:not(:has(i))::before {
        content: '';
        background-image: url("https://i.imgur.com/QY4O4Ii.png");
        background-size: 32px;
        display: block;
        align-self: center;
        width: 32px;
        height: 32px;
        margin-right: 5px;
        float: left !important;
        border-left: 3px solid #d9534f;
    }
    
    a[data-original-title^="Apostrophe ["]:not(:has(i)) > img {
        display: none;
    }

    a[data-original-title^="Apostrophe ["]:not(:has(i))::before {
        content: '';
        background-image: url("https://i.imgur.com/xKPMErt.png");
        background-size: 32px;
        display: block;
        align-self: center;
        width: 32px;
        height: 32px;
        margin-right: 5px;
        float: left !important;
        border-left: 3px solid #d9534f;
    }
    
    a[data-original-title^="Marianne [secrétaire]"]:not(:has(i)) > img {
        display: none;
    }

    a[data-original-title^="Marianne [secrétaire]"]:not(:has(i))::before {
        content: '';
        background-image: url("https://i.imgur.com/9dLjzeK.png");
        background-size: 32px;
        display: block;
        align-self: center;
        width: 32px;
        height: 32px;
        margin-right: 5px;
        float: left !important;
        border-left: 3px solid #d9534f;
    }

    /* ------------------------------------ */
    
    
    /* SPECIFIQUES AU RP ALEOCRATE */
    
    body:has(div.user-info a[href="communaute/membres/naphte-1-84681"]),
    body:has(#ajax-sex184681) { 
        
        @media (prefers-color-scheme: dark) {
            /* --bg-color-1: #363636; */
            /* --bg-color-2: #424242; */
            --bg-color-3: #991457;
            --lk-color-1: #fdb83c;
            --lk-color-2: #ffd68c;
            /*--tx-color-1: #e4e4e4;
            --tx-color-2: #c4c4c4;
            --tx-color-3: #a4a4a4;
            --bd-color-1: #616161;*/
        }
        
        @media (prefers-color-scheme: light) {
            /* --bg-color-1: #363636; */
            /* --bg-color-2: #424242; */
            --bg-color-3: #ffca68;
            --lk-color-1: #ff2390;
            --lk-color-2: #ff68b3;
            /*--tx-color-1: #e4e4e4;
            --tx-color-2: #c4c4c4;
            --tx-color-3: #a4a4a4;
            --bd-color-1: #616161;*/
        }
        
        & > div:nth-child(1) > div:nth-child(1)  {
            content: url("https://i.imgur.com/SlfQ9ZE.png");
        }
        
        & div.user-info > strong {
           flex-direction: column;   
        }
        
        & div.user-info > strong::before {
            display: flex;
            width:80px;
            height:26px;
            content: "";
            background-image: url("https://i.imgur.com/fLnPi4f.png");
            background-size: contain;
            margin-top: 5px;
            margin-bottom: 5px;
        }       
        
    }
        
        /* naphte */
    body:has(div.user-info a[href="communaute/membres/naphte-1-84681"]),
    body:has(#ajax-sex184681) {
        
        & .user-info .cartouche p {
            visibility: hidden;
            position: relative;
            width: 100%;
            height: 50px;
        }
        
        & .user-info .cartouche {
            margin-top: 0px;
            width:100%;
        }
        
        & .user-info .cartouche p::after {
            visibility: visible;
            position: absolute;
            top: 0;
            left: 0;
            font-size: smaller;
            font-style: italic;
            content: "Directrice de Station";
            margin-top: 0px;
            margin-bottom: 10px;
        }
        
        & .panel-body .row>div:nth-child(1),
        .panel-body .row>div:nth-child(2),
        .panel-body .row h2,
        .panel-body .row p {
            display: none;
        }
        & .panel-body .row::before {
            background-image: url('https://i.imgur.com/En6nvlG.png');
              background-repeat: no-repeat;
              background-size: contain;
            display: inline-block;
            width: 100%; 
            height: 140px;
        }        
        
    }
    
    
    
        
}
@-moz-document regexp("http://.*\\.kraland\\.org/forum/.*") {

    /* toute la partie forum */
    .panel-body {
        padding: 0px;
    }
    
    div#col-right thead {
        display: none;
    }

}
@-moz-document regexp("http://.*\\.kraland\\.org/contacts") {

    /* contacts*/
    table#topics td:nth-child(5) {
        text-align: right;
        padding-right: 10px;
    }

    table#topics .btn-default,
    .btn-primary {
        background-color: unset;
        border: none;
    }
}

@-moz-document regexp("http://.*\\.kraland\\.org/profil/notes") {

    /* contacts*/
    .panel.panel-default {
        background-color: var(--bg-color-2);
    }

    .news-item {
        margin: 0px;
        padding: 20px;
        border-bottom: 3px dashed var(--bd-color-1);
    }
}
@-moz-document regexp("http://.*\\.kraland\\.org/map.*") {
    
    @media (max-width: 767px) {       
        body {
            overflow-x: unset !important;
        }
    }

    .pagination a:has(select) {
        padding: 5px;
        /* fix moche mais flemme de chercher le bon */
    }

    .pagination > .disabled > a {
        color: var(--tx-color-2);
    }

    .panel-body {
        background-color: var(--bg-color-2);
    }

    .page-header {
        padding-left: 20px;
    }

    .genmsg {
        /* je juge pas les 20 <br> promis */
        padding: 3px 0px 3px 36px;
        border-top: 1px solid var(--bd-color-1);
        border-bottom: 1px solid var(--bd-color-1);
        background: url("/v7_img/gen.gif") no-repeat;
        font-size: 11px;
        color: var(--tx-color-3);
        text-align: right;
        position: absolute;
        width: 625px;
        left: 200px;
        top: 655px;
        /*(120+530) */
    }

    .mini {
        color: #333;
    }
}
@-moz-document regexp("http://.*\\.kraland\\.org/forum/(?!top20)[^/]*") {

    /*      regexp targets forum/???  sauf top20     */
    div#col-right tbody tr td:nth-child(2)::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f07c  ";
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }

    div#col-right tbody tr td:nth-child(3)::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f075  ";
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }

    div#col-right tbody tr td:nth-child(1) {
        width: 55%;
    }

    .tagforum {
        display: flex;
        align-items: center;
    }

    .tagforum i {
        margin-right: 3px;
    }

    .tagforum span {
        display: flex;
        align-self: center;
        margin-left: 3px;
    }

    .tagforum a {
        margin-left: 3px;
    }

    p.nomargin.mini a.btn.btn-default {
        font-size: 9px;
        background-color: unset;
    }
}


@-moz-document regexp("http://.*\\.kraland\\.org/forum/sujet.*"), regexp("http://.*\\.kraland\\.org/kramail/post.*") {


    @media (max-width: 767px) {
        .pull-left:has(.user-info) {
            float: none !important;
            margin: 0px 0px 15px 0px !important;
            position: relative;
            width: 100%;
        }

        .pull-left .user-info {
            display: block;
            width: 100% !important;
            position: relative;
        }

        .pull-left .user-info:has(.avatar) {
            height: 120px;
        }

        .pull-left .user-info > img {
            position: absolute;
            right: 52%;
            top: 0%;
            justify-content: start;
        }
        .pull-left .user-info:has(.avatar) > :not(img) {
            position: relative;
            display: flex;
            left: 52%;
            text-align: left;
            justify-content: start;
        }
        .pull-left .user-info:not(:has(.avatar)) strong {
            position: unset;
            display: flex;
            text-align: center;
            justify-content: center;
            align-self: center;
        }
        
                
        .user-info > .cartouche > div {
            display: flex;
            align-self: unset !important;
        }    
        
        .user-info > .cartouche > div > img {
            display: flex;
            align-self: center;
        }    
        
        .user-info > .cartouche > div:nth-child(1) {
            width: 80px;
            max-width: 100%;
            height: auto;
            align-self: unset !important;
            display: flex;
        }

        .user-info > .cartouche > div:nth-child(1) > img {
            display: flex;
            align-self: center;
            width: 80px;
            max-width: 100%;
            height: auto;
            margin-bottom: 2px;
        }

        .user-info > .cartouche > strong {
            display: flex;
            align-self: unset;
            margin-top: 5px;
        }
        
        .user-info > .cartouche > span {
            align-self: unset;
            width : fit-content;
            margin-top: 5px;
        }

        .media.well .media-body .btn-group.btn-group-xs {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;
        }
        .media.well .media-body .pull-right {
            display: flex;
            align-items: center;
            justify-content: center;
            float: none !important;
        }
    }

    .pagination > li.active > a {
        color: var(--lk-color-2);
        background-color: var(--lk-color-1);
        border-color: inherit;
    }

    .pagination > li.active > a:hover,
    .pagination > li.active > a:focus {
        color: var(--lk-color-2);
        background-color: var(--lk-color-1);
        text-decoration: none;
        border-color: inherit;
    }
}

@-moz-document regexp("http://.*\\.kraland\\.org/forum/[^/]*/(?!repondre)(?!nouveau)[^/]*") {

    /*      regexp targets forum/???/???         */
    div#col-right tbody tr td:nth-child(2)::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f075  ";
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }

    div#col-right tbody tr td:nth-child(3)::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f06e  ";
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }

    div#col-right tbody tr td:nth-child(1) {
        width: 55%;
    }

    ul.pagination.pagination-xsm.nomargin,
    ul.pagination.pagination-xsm.nomargin span {
        font-size: 9px;
        padding: 1px 4px;
        color: var(--tx-color-3);
    }

    ul.pagination.pagination-xsm.nomargin a {
        font-size: 9px;
        padding: 1px 4px;
        color: var(--tx-color-3);
        border: dashed;
    }

    p.nomargin.mini a.btn.btn-default {
        font-size: 9px;
        background-color: unset;
    }

    i.fa.fa-lock {
        font-size: 12px;
    }

    .tagforum a {
        color: var(--tx-color-3);
    }
}
@-moz-document regexp("http://.*\\.kraland\\.org/forum/post/[^/]*") {

    /*      regexp targets forum/post/???         */
    div#col-right tbody tr:nth-child(odd) {
        background-color: var(--bg-color-2) !important;
    }

    div#col-right tbody tr:nth-child(odd) li:hover {
        background-color: var(--bg-color-2) !important;
    }

    div#col-right tbody tr:nth-child(even) li:hover {
        background-color: var(--bg-color-2) !important;
    }

    div.col-sm-10 span.dropdown.open td a[href="#"] img {
        background-color: var(--bg-color-2);
        border-color: var(--bg-color-2);
    }

    span.dropdown.open .dropdown-menu {
        background-color: var(--bg-color-2);
    }
}

@-moz-document domain("test.kraland.org") {

    @media (prefers-color-scheme: dark) {

        body::before {
            content:"";
            position: fixed;
            inset: 0;
            background-image: url("https://i.imgur.com/hItbrkw.png");
            opacity: 0.07;
        }
    }

    @media (prefers-color-scheme: light) {

        body::before {
            content: "";
            position: fixed;
            inset: 0;
            background-image: url("https://i.imgur.com/RljLzVL.png");
            opacity: 0.07;
        }
    }
}