/* ==UserStyle==
@name           Australine
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A compact style for kraland.org
@author         clarasylke on discord
@homepageURL    https://github.com/ClaraLeh/css_kraland
@updateURL      https://raw.githubusercontent.com/ClaraLeh/css_kraland/refs/heads/main/australine_kraland.user.css
==/UserStyle== */

@-moz-document domain("www.kraland.org"), domain("test.kraland.org") {
    html {
        background-color:#ff00ff;
        
    }
    
    body {
        background-color:#ff00ff;
    }
    
    a {
       color:#b9282d;
    }
    
    a:hover, a:active {
        color:#f20009;
        text-decoration: none;
    }
    
    .pagination > li > a, .pagination > li > a:active, .pagination > li > a:visited, .pagination > li > span, .pagination > li > span:active, .pagination > li > span:visited {
        color:#b9282d;
        background-color: inherit;
        border: 1px solid #e8e0c0 !important;
    }
    
    .pagination > li > a:hover, .pagination > li > span:hover {
        color:#f20009;
        background-color: inherit;
        text-decoration: none;
    }

    .pagination > .active > a {
        color:#b9282d; 
        background-color: inherit;
        border-color: inherit;
    }
    
    .pagination > .active > a:hover {
        color:#f20009;
        background-color: inherit;
        text-decoration: none;
        border-color: inherit;
    }
    
    div#col-right tbody tr:nth-child(odd) {
        background-color:#f4f4ea !important;
    }
    
    div#col-right tbody tr:nth-child(odd) li:hover {
        background-color: #fff !important;
    }
    
    div#col-right tbody tr:nth-child(even) li:hover {
        background-color: #f4f4ea !important;
    }
    
    div#col-right tbody tr:has(.fa-folder, .active) td:nth-child(1) p {
        font-weight: 550;
    }

    div#col-right thead {
        display: none;
    }    

    div#col-right tbody tr td {
        border-top: none;
    }
    
    div#col-right tbody tr td:nth-child(1) p {
        display:flex;
        align-items:center;
    }   
    
    body>div:nth-child(1) {
        display: table-cell;
        text-align: center;
        vertical-align: middle;        
    }
    
    body>div:nth-child(1)>div:nth-child(1) {
        content: url("https://i.imgur.com/K2CDrAv.png");
    }
    
    div#col-right tbody tr td:nth-child(1) p :is(span, a, i) {
        display:flex;
        align-self: center;        
        margin-right: 3px ;
    }
    
    .panel-heading {
        background-color: #e8e0c0 !important;
    }
    
    .label-default {
        background-color: #e8e0c0 !important;
        color:#b9282d; 
    }
    
    label {
        margin-bottom: 0px;
    }
    
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th, table.dataTable tbody th, table.dataTable tbody td {
        padding: 5px 1px 5px 9px;
    }
    
    .panel-body {
        padding: 0px;
    }
    
    .invisible {
        display: none !important;
    }
    
    #topics_wrapper div {
        margin: 5px 8px 5px 8px;
    }
    
    #topics_paginate {
        padding-top: 0px;
    }
    
    #topics_info {
        padding-top: 0.5em; 
    }
    
    .navbar-inverse {
        background-color: #e8e0c0;
        border-color: #e8e0c0;
    }
    
    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-header a.navbar-brand {
        color:#b9282d;
    }
    
    .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
        z-index: 2;
        color: #b9282d;
        background-color: #e8e0c0;
        border-color: #e8e0c0;
    }
    
    .footer-quote {
        color: #b9282d; 
        padding-top: 15px;
    }
    
    #slide-submenu {
        background: #f4f4ea;
    }
    
    .tagforum {
        display:flex;
        align-items:center;
    }
    
    .tagforum span {
        display:flex;
        align-self: center;        
        margin-left: 3px ;        
    }
    
    a.list-group-item, button.list-group-item {
        background-color: #f4f4ea;
    }

    .navbar-nav li.active a.dropdown-toggle, .navbar-nav li.active a.dropdown-toggle:hover {
        background-color:#b9282d; 
    }
    
    ul.media-list.forum li.media.well {
        background-color: #f4f4ea;
    }
    
    .btn-default {
        color: #333;
        background-color: #f4f4ea;
        border-color: #ccc;
    }
    .btn-default:hover {
        background-color: #fff;
    }
    
    .user-info {
        display:flex;
        align-items:center;
        flex-direction:column;
    }
    
    .user-info>img.img-thumbnail {
        display:flex;
        align-self: center;
        width: 120px;
        padding: 0px;
        border-radius: 8px;
        transition: all .2s ease-in-out;
        max-width: 100%;
        height: auto;
    }
    
    .user-info>strong {
        display:flex;
        align-self: center;
        margin-top:5px;
    }
    
    .user-info>.cartouche>strong {
        display:flex;
        align-self: center;
        margin-top:5px;
    }
    
    .user-info>.cartouche {
        display:flex;
        align-self: center;
        flex-direction:column;
        margin-top:5px;
    }
    
    .user-info>.cartouche div {
        margin-top:5px;
    }
    
    .user-info>.cartouche>div:nth-child(1) {
        width: 80px;
        max-width: 100%;
        height: auto;        
    }
    
    .user-info>.cartouche>div:nth-child(1)>img {
        display:flex;
        align-self: center;
        width: 80px;
        max-width: 100%;
        height: auto;
        margin-bottom:2px;

    }

/*   
    // CUSTOM FLAG ON FORUM
    
    .cartouche:has(a[href="communaute/membres/---"])>div:nth-child(1)>img {
        display: none;
    }
    
    .cartouche:has(a[href="communaute/membres/---"])>div:nth-child(1)::after {
        content: '';
        background-image: url(---);
        background-size: 80px;
        display:flex;
        align-self: center;
        width:80px;
        height:26px;
    }
*/
    
/*
    // CUSTOM AVATAR FOR FAMILIARS
    
    a[data-original-title="--- [archange ven.] (60/60 PV)"] {
        
    }
    
    a[data-original-title="--- [archange ven.] (60/60 PV)"]>img {
        display:none;
    }
    
    a[data-original-title="--- [archange ven.] (60/60 PV)"]::before {
        content:'';
        background-image: url(---);
        background-size: 32px;
        display:block;
        align-self: center;
        width: 32px;
        height: 32px;
        float: left !important;
    }  
    
*/
    
    .cartouche {
        font-size: unset;
    }
    
    ul.media-list.forum div.pull-left {
        padding:0px;
        margin-right: 20px;
    }
}

@-moz-document regexp("http://.*\\.kraland\\.org/forum/.*") {
    
    div#col-right tbody tr td:nth-child(2)::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content:"\f07c  ";
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }   
    
    div#col-right tbody tr td:nth-child(3)::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content:"\f075  ";
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }  
    
    div#col-right tbody tr td:nth-child(1) {
        width:55%;
    }
}

@-moz-document regexp("http://.*\\.kraland\\.org/forum/.*/.*") {
    
    div#col-right tbody tr td:nth-child(2)::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content:"\f075  ";
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }   
    
    div#col-right tbody tr td:nth-child(3)::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content:"\f06e  ";
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }  
    
    div#col-right tbody tr td:nth-child(1) {
        width:55%;
    }
}



